.menuItem {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  font-weight: bold;
  font-size: 14px;
  height: 178px;
  width: 190px;
  border: 1px solid #bbc1c7;
  cursor: pointer;
  margin: 4px;
}

.menuItem:hover > .text {
  opacity: 0.4;
}

.primary {
  background-color: #26cd58;
}

.primary > .text {
  color: #fff;
}

.text {
  margin: auto;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
}

.icon {
  margin: auto;
  margin-top: 30px;
}
