.button {
  display: flex;
  justify-content: center;
  height: 64px;
  width: 100%;
  align-items: center;
  background: #f6f6f6;
  border: 1px solid #010d17;
  box-sizing: border-box;
  margin: 10px 5px;
  cursor: pointer;
}

.primary {
  background-color: #26cd58;
}

.primary:hover {
  opacity: 0.9;
}

.default {
  background-color: #efefef;
}

.default:hover {
  opacity: 0.6;
}

.text {
  font-family: 'Avenir';
  font-size: 16px;
}

.defaultText {
  color: #010d17;
}

.primaryText {
  color: #010d17;
}
