.button {
  display: flex;
  justify-content: center;
  border: 1px solid #6894bc;
  border-radius: 8px;
  height: 42px;
  min-width: 154px;
  width: 100%;
  align-items: center;
  padding: 3px 10px;
  margin: 10px 0;
  cursor: pointer;
  max-width: 260px;
}

.primary {
  background-color: #6894bc;
}

.primary:hover {
  background-color: #5484b5;
}

.default {
  background-color: #fff;
}

.default:hover {
  background-color: #efefef;
}

.text {
  font-family: 'Avenir';
  font-size: 16px;
}

.defaultText {
  color: #6894bc;
}

.primaryText {
  color: #fff;
}
