html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 310px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}

.whiteTheme {
  background-color: #fff;
}

.flexHeader {
  padding: 39px 0;
  background-color: #010d17;
}

.staticHeader {
  padding: 45px 0;
  background-color: #010d17;
  text-align: center;
}

.headerText {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #f2f2f2;
  margin: auto;
  width: 740px;
}

.content {
  background-color: #fff;
  width: 832px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.icons {
  flex: 4;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.icon {
  margin: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 100%;
}

.insertPrivate {
  margin: 20px;
}

.rowControls {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.private {
  font-weight: 600;
}

.inputWrapper {
  background-color: #fff;
  border-bottom: 2px solid #26cd58;
  padding: 5px;
  width: 100%;
}

.input {
  width: 100%;
  color: #010d17;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  height: 20px;
  border: none;
  background-color: #fff;
}

.label {
  color: #010d17;
  font-size: 14px;
}

.privateTextGen {
  color: #010d17;
  font-weight: 500;
  font-size: 16px;
  margin: 15px 0;
}

.publicPoints {
  color: #010d17;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.generateCheckboxContainer {
  margin: 15px;
}

.message {
  font-weight: 500;
  font-size: 16px;
  color: #010d17;
}

.infoText {
  color: #010d17;
  font-size: 18;
  text-align: center;
  padding: 5;
}

.bold {
  font-weight: 600;
}

.radioGroup {
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.recommend {
  font-size: 18px;
  text-align: center;
  padding: 30px;
  color: red;
}

.footer {
  height: 15px;
  background: #010d17;
  color: darkgray;
  padding: 5px;
  font-size: 14px;
}

.greenStatusLabel {
  margin: 0 2px;
  color: #26cd58;
}

.redStatusLabel {
  margin: 0 2px;
  color: red;
}

.contentWrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statusWidget {
  padding: 0 5px;
}

.statusBar {
  display: flex;
  flex-direction: row;
}

.radio {
  margin: 10px 0;
  display: block;
  cursor: pointer;
}
.radio input {
  display: none;
}
.radio input + span {
  line-height: 24px;
  height: 20px;
  padding-left: 20px;
  display: block;
  position: relative;
}
.radio input + span:not(:empty) {
  padding-left: 30px;
}
.radio input + span:before,
.radio input + span:after {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}
.radio input + span:before {
  background: #d1d7e3;
  transition: background 0.2s ease,
    -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background 0.2s ease,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background 0.2s ease,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2),
    -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio input + span:after {
  background: #fff;
  -webkit-transform: scale(0.78);
  transform: scale(0.78);
  transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4),
    -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio input:checked + span:before {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  background: #26cd58;
}
.radio input:checked + span:after {
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.radio:hover input + span:before {
  -webkit-transform: scale(0.92);
  transform: scale(0.92);
}
.radio:hover input + span:after {
  -webkit-transform: scale(0.74);
  transform: scale(0.74);
}
.radio:hover input:checked + span:after {
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}

.modalOverlay {
  opacity: 0;
  transition: opacity 500ms ease;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(47, 47, 47, 0.73);
}

.modalOverlayAfterOpen {
  opacity: 1;
}

.modalContent {
  position: absolute;
  top: 160px;
  left: 140px;
  right: 140px;
  bottom: 180px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.recoveryPassphraseTextarea {
  resize: none;
  flex: 1;
  color: #010d17;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  font-family: Arial;
  width: 100%;
}
