.tableRow {
  display: flex;
  border-bottom: 0.5px solid #010d17;
  padding: 7px;
}

.tableRow:first-child,
.tableRow:last-child {
  border-bottom: none;
}

.tableDataRow {
  cursor: pointer;
}

.tableHeader {
  opacity: 0.4;
}

.tableCell {
  flex: 1;
  color: #010d17;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.tableCheckbox {
  flex: 0.3;
}
