.tableRow {
  display: flex;
  border-bottom: 1px solid #bbc1c7;
  padding: 7px;
}

.tableRow:first-child,
.tableRow:last-child {
  border-bottom: none;
}

.tableDataRow {
  cursor: pointer;
}

.tableHeader {
  text-transform: uppercase;
}

.tableCell {
  flex: 1;
  color: #010d17;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.tableCheckbox {
  flex: 0.3;
}
